@inject SignInManager<AppUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OrigamiEdu</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    
    <link rel="stylesheet" href="~/lib/DataTables-1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/DataTables-1.10.21/css/jquery.dataTables.min.css">
    <link href="~/lib/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet">
    @* <!-- Tempusdominus Bbootstrap 4 --> *@
    <link rel="stylesheet" href="~/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    @* <!-- iCheck --> *@
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    @* <!-- JQVMap --> *@
    <link rel="stylesheet" href="~/plugins/jqvmap/jqvmap.min.css">
    @* <!-- Theme style --> *@
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    @* <!-- overlayScrollbars --> *@
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    @* <!-- Daterange picker --> *@
    <link rel="stylesheet" href="~/plugins/daterangepicker/daterangepicker.css">
    @* <!-- summernote --> *@
    <link rel="stylesheet" href="~/plugins/summernote/summernote-bs4.css">
    @* <!-- Google Font: Source Sans Pro --> *@
    @* <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> *@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OrigamiEdu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                     @* d-sm-inline-flex flex-sm-row-reverse *@
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if(signInManager.IsSignedIn(User) && User.IsInRole("Developer Master"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Administrator" asp-controller="Administrator" asp-action="index">OrigamiEdu Administrator</a>
                            </li>
                            @* <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Administrator" asp-controller="Role" asp-action="index">Role Manager</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Administrator" asp-controller="Users" asp-action="index">User Manager</a>
                            </li> *@
                        }
                    </ul>
                    <ul class="navbar-nav mr-auto">
                        @if(signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form asp-action="keluar" asp-controller="akun" asp-area="" method="post">
                                    <button type="submit" class="nav-link btn btn-link" style="width: auto;">
                                        <i class="far fa-user"></i> Keluar @User.Identity.Name
                                    </button>
                                </form>
                            </li>
                            @* <!-- Messages Dropdown Menu --> *@
                            <li class="nav-item dropdown">
                                <a class="nav-link" data-toggle="dropdown" href="#">
                                <i class="far fa-bell"></i>
                                <span class="badge badge-danger navbar-badge">3</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                                    <a href="#" class="dropdown-item">
                                        @* <!-- Message Start --> *@
                                        <div class="media">
                                            <img src="~/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                                            <div class="media-body">
                                                <h3 class="dropdown-item-title">
                                                Brad Diesel
                                                @* <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span> *@
                                                </h3>
                                                <p class="text-sm">Call me whenever you can...</p>
                                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                            </div>
                                        </div>
                                        @* <!-- Message End --> *@
                                    </a>
                                    <p class="text-center" style="font-size: smaller;">Notifikasi hilang otomatis setiap awal bulan</p>
                                </div>
                            </li>
                        } 
                        else{
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Akun" asp-action="daftar">Daftar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Akun" asp-action="masuk" >Masuk</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.ToString("yyyy") - OrigamiEdu - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* <script src="~/lib/DataTables-1.10.21/js/dataTables.bootstrap4.min.js"></script> *@
    <script src="~/lib/DataTables-1.10.21/js/jquery.dataTables.min.js"></script>
    @* <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script> *@

    @* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ *@
        <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        @* <!-- ChartJS --> *@
        <script src="~/plugins/chart.js/Chart.min.js"></script>
        @* <!-- Sparkline --> *@
        <script src="~/plugins/sparklines/sparkline.js"></script>
        @* <!-- JQVMap --> *@
        <script src="~/plugins/jqvmap/jquery.vmap.min.js"></script>
        <script src="~/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
        @* <!-- jQuery Knob Chart --> *@
        <script src="~/plugins/jquery-knob/jquery.knob.min.js"></script>
        @* <!-- daterangepicker --> *@
        <script src="~/plugins/moment/moment.min.js"></script>
        <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
        @* <!-- Tempusdominus Bootstrap 4 --> *@
        <script src="~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
        @* <!-- Summernote --> *@
        <script src="~/plugins/summernote/summernote-bs4.min.js"></script>
        @* <!-- overlayScrollbars --> *@
        <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
        @* <!-- AdminLTE App --> *@
        @* <script src="~/dist/js/adminlte.js"></script> *@
        @* <!-- AdminLTE dashboard demo (This is only for demo purposes) --> *@
        @* <script src="dist/js/pages/dashboard.js"></script> *@
        @* <!-- AdminLTE for demo purposes --> *@
        @* <script src="dist/js/demo.js"></script> *@
    @* ===================================================================================== *@
    
</body>
</html>
