@{
    ViewData["Title"] = "Data Sekolah";
}
<div class="row">
    <div class="col">
        <h1 class="mt-4">Data Kategori Sekolah</h1>
        <hr>
        <div class="float-right">
            <div class="form-inline">
                <div class="form group" style="width: auto;">
                    <input type="text" id="searchQueryKtg" name="query" class="form-control" placeholder="Cari">
                </div>
            </div>
        </div>
        <a style="margin-bottom: 10pt;" href='@Url.Action("tambahKategori", "Sekolah", new{Area = "Administrator"})' class="btn btn-outline-primary">
                <img width="20px" src="/svgs/regular/plus-square.svg" alt="Tambah">
                Tambah Kategori Sekolah
        </a>
        <table class="table table-hover" id="tableKtgSekolah">
            <thead>
                <th class="text-center align-middle">Kategori</th>
                <th class="text-center align-middle">Aksi</th>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.dataKtg)
                {
                    <tr class="baris_tabel">
                        <td class="text-center align-middle">@item.namaKategori</td>
                        <td class="text-center align-middle">
                            <a style="color: black;" href='@Url.Action("editKategori", "Sekolah", new{Area = "Administrator", ID = @item.ID.ToString()})' class="btn btn-outline-warning"><img style="border-right: 10px;" width="20px" src="/svgs/regular/edit.svg" alt="Edit">Edit</a>
                            <a style="color: black;" onclick="hapusKategori('@item.ID.ToString()')" class="btn btn-outline-warning"><img style="border-right: 10px;" width="20px" src="/svgs/regular/trash-alt.svg" alt="Hapus">Hapus</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1 class="mt-4">Data Sekolah</h1>
        <hr>
        <div class="float-right">
            <div class="form-inline">
                <div class="form group" style="width: auto;">
                    <input type="text" id="searchQuery" name="query" class="form-control" placeholder="Cari">
                </div>
            </div>
        </div>
        <a style="margin-bottom: 10pt;" href='@Url.Action("tambah", "Sekolah", new{Area = "Administrator"})' class="btn btn-outline-primary">
                <img width="20px" src="/svgs/regular/plus-square.svg" alt="Tambah">
                Tambah Sekolah
        </a>
        <a style="margin-bottom: 10pt; width: auto;" asp-action="dihapus" asp-controller="Sekolah" asp-area="Administrator" class="btn btn-outline-primary">
                Data Sekolah dihapus
        </a>
        <h5 class="mt-2 text-info">Saat ini terdapat @ViewBag.countAll sekolah terdaftar</h5>
        <table class="table table-hover" id="tableSekolah">
            <thead>
                <th class="text-center align-middle">Sekolah</th>
                <th class="text-center align-middle">Lokasi</th>
                <th class="text-center align-middle">Kategori Sekolah</th>
                <th class="text-center align-middle">Aksi</th>
            </thead>
            <tbody>
                @foreach (var item in @ViewBag.datasch)
                {
                    <tr class="baris_tabel">
                        <td class="text-center align-middle">@item.sekolah</td>
                        <td class="text-center align-middle">@item.mst_loc</td>
                        <td class="text-center align-middle">@item.mst_KatgName</td>
                        <td class="text-center align-middle">
                            <a style="color: black;" href='@Url.Action("edit", "Sekolah", new{Area = "Administrator", ID = @item.ID})' class="btn btn-outline-warning"><img style="border-right: 10px;" width="20px" src="/svgs/regular/edit.svg" alt="Edit">Edit</a>
                            <a style="color: black;" onclick="hapus('@item.ID')" class="btn btn-outline-warning"><img style="border-right: 10px;" width="20px" src="/svgs/regular/trash-alt.svg" alt="Hapus">Hapus</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>


@section Scripts{
    <script>
        if(!("@TempData["message"]" === ""))
        {
            alert("@TempData["message"]");
        }



        $(document).ready(function(){
            var schTable = $("#tableSekolah").DataTable({
                @* "pagingType" : "full_numbers", *@
                "dom":' ltp'
            });
            $('#searchQuery').keyup(function(){
                schTable.search($(this).val()).draw() ;
            });
            var ktgTable = $("#tableKtgSekolah").DataTable({
                @* "pagingType" : "full_numbers", *@
                "dom":' ltp'
            });
            $('#searchQueryKtg').keyup(function(){
                ktgTable.search($(this).val()).draw() ;
            });
        })


        let hapus = function(param)
        {
            if(window.confirm("Yakin ingin menghapus data ini?"))
            {
                window.location.href = 'Sekolah/hapusSekolah/' + param;
            }
        }

        let hapusKategori = function()
        {
            if(window.confirm("Yakin ingin menghapus data ini?"))
            {
                window.location.href = 'Sekolah/hapusKategori/' + param;
            }
        }

        
    </script>
}